/user/.DS_Store
/user/node_modules
/user/build
/user/.svelte-kit
/user/package
/user/.env
/user/.env.*
/user/!.env.example
/user/vite.config.js.timestamp-*
/user/vite.config.ts.timestamp-*
/user/src-tauri/target/
/user/src-tauri/sq.db


/driver/.vs
/driver/.vscode
/driver/x64